@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tab1 form, .tab1 form .tab1-input, .tab1 form .tab1-input .tab1-input-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tab1 form .tab1-input-text {
  width: 100%;
  border: 2px solid #DDE1EB;
  border-radius: 16px;
  height: 56px;
}
.tab1 form .tab1-input-text #name {
  display: none;
}
.tab1 form .tab1-input-text #uid {
  display: block;
}
.tab1 form div, .tab1 form .tab1-input div, .tab1 form .tab1-input .tab1-input-btn div {
  font-size: 16px;
}
.tab1 form p, .tab1 form .tab1-input p, .tab1 form .tab1-input .tab1-input-btn p {
  font-size: 14px;
  color: #999999;
  text-align: center;
}
.tab1 form .service-description-btn {
  color: #933243;
}
.tab1 form .service-description-btn:hover {
  cursor: pointer;
}
.tab1 form .tab1-input, .tab1 form .tab1-input .tab1-input-btn {
  gap: 8px;
}
.tab1 form .tab1-input i, .tab1 form .tab1-input .tab1-input-btn i {
  margin-left: -30px;
  cursor: pointer;
}
.tab1 form .tab1-input .tab1-input-btn {
  flex-direction: row;
  gap: 8px;
}
.tab1 form .tab1-input #uid {
  display: block;
}
.tab1 form .tab1-input label[for=name] { /*light update 24/01/09 要隱藏lable 原因寫在js註解*/
  display: none;
}
.tab1 form input[type=radio] {
  accent-color: #933243;
}
.tab1 form input[type=checkbox] {
  accent-color: #933243;
}
.tab1 form .tab1-input-submit-btn {
  display: flex;
  justify-content: center;
}
.tab1 form .tab1-input-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #DCDCDC;
  border: none;
}
.tab1 form .tab1-input-submit:hover { /*if (info-check == 1)*/
  background-color: #933243;
  color: #FFFFFF;
  border: none;
}
.tab1 form input:valid {
  border: 2px solid #DDE1EB;
}
.tab1 form input:invalid {
  border: 2px solid red;
}
.tab1 form .popout-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.tab1 form .popout-service-description {
  width: 60%;
  height: 70%;
  display: none;
  background-color: #F2F2F2;
  border: 0.8px solid #6F6F6F;
  border-radius: 10px;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
@media (max-width: 768px) {
  .tab1 form .popout-service-description {
    top: 55%;
    width: 90%;
    height: 65%;
  }
}
.tab1 form .popout-service-description .popout-service-container {
  display: flex;
  flex-direction: column;
  /*position: relative; light update0329*/
}
.tab1 form .popout-service-description .popout-service-container .popout-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: row;
  padding: 16px 80px;
  position: sticky; /*light update0329*/
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 768px) {
  .tab1 form .popout-service-description .popout-service-container .popout-navbar {
    padding-left: 40px;
  }
}
.tab1 form .popout-service-description .popout-service-container .popout-navbar .navbar-text {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  color: #4B4B4B;
  justify-content: space-between;
}
.tab1 form .popout-service-description .popout-service-container .popout-navbar .exit-btn {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.tab1 form .popout-service-description .popout-service-container .popout-service-description-content {
  padding: 30px 10%;
  font-size: 14px;
  color: #000000;
  overflow-y: auto;
}
.tab1 form .popout-service-description .popout-service-container .popout-service-description-content div {
  font-size: 14px;
  color: #FF3B30;
  display: inline;
}
.tab1 form .popout-service-description .popout-service-container .popout-service-description-content ul {
  padding-left: 15px;
}
.tab1 form .popout-service-description .popout-service-container .popout-service-description-content ul li {
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tab2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  /*@include phone {
    width:90%;
  }*/
}
.tab2 .tab2-info {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 32px;
  width: -webkit-fill-available;
  border: 2px solid #DDE1EB;
  gap: 24px;
}
@media (max-width: 768px) {
  .tab2 .tab2-info {
    padding: 24px 10px;
  }
}
.tab2 .tab2-info .tab2-info-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.tab2 .tab2-info .tab2-info-title .tab2-info-title-name {
  font-size: 18px;
  color: black;
}
.tab2 .tab2-info .tab2-info-title .tab2-info-title-birth {
  font-size: 14px;
  color: #AAAAAA;
}
.tab2 .tab2-info .tab2-info-degree {
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
.tab2 .tab2-info .tab2-info-degree .tab2-info-degree-title {
  font-size: 16px;
}
.tab2 .tab2-info .tab2-info-degree hr {
  border: 1px solid #DDE1EB;
}
.tab2 .tab2-info .tab2-info-degree ul {
  list-style-type: none;
}
.tab2 .tab2-info .tab2-info-degree ul li {
  margin: 12px 0;
}
.tab2 .tab2-info .tab2-info-degree ul p {
  color: #BC9631;
}
.tab2 .tab2-notice {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 32px;
  border: 2px solid #DDE1EB;
  gap: 24px;
  align-items: center;
}
@media (max-width: 768px) {
  .tab2 .tab2-notice {
    padding: 24px 10px;
  }
}
.tab2 .tab2-notice .tab2-notice-title {
  font-size: 25px;
}
.tab2 .tab2-notice .tab2-notice-content {
  text-align: left;
  font-size: 14px;
  color: #333333;
  padding: 0 40px;
}
.tab2 .tab2-notice .tab2-notice-content p {
  color: #FF3B30;
}
.tab2 .tab2-notice .tab2-notice-content a {
  color: #933243;
  text-decoration: none;
}
.tab2 .tab2-notice .tab2-notice-content ul {
  list-style-type: disc;
  padding-left: 15px;
}
.tab2 .tab2-notice .tab2-notice-content ol {
  padding-left: 15px;
}
.tab2 .tab2-document-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.tab2 .tab2-document-btn .tab2-document-btn-e {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tab2 .tab2-document-btn .tab2-document-btn-e {
    width: 100%;
  }
}
.tab2 .tab2-document-btn .tab2-document-btn-paper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #EEDFE1;
  color: #933243;
}
@media (max-width: 768px) {
  .tab2 .tab2-document-btn .tab2-document-btn-paper {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tab3-paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.tab3-paper .tab3-container, .tab3-paper .tab3-container .tab3-paper-fee, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  text-align: left;
  align-items: flex-start;
}
.tab3-paper .tab3-container .popout-overlay, .tab3-paper .tab3-container .tab3-paper-fee .popout-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.tab3-paper .tab3-container .tab3-container-title, .tab3-paper .tab3-container .tab3-paper-fee .tab3-container-title {
  font-size: 20px;
}
.tab3-paper .tab3-container .tab3-table-row-fee, .tab3-paper .tab3-container .tab3-paper-fee .tab3-table-row-fee {
  width: 100%;
  text-align: right;
  font-size: 16px;
  width: -webkit-fill-available;
  padding: 12px 32px;
}
.tab3-paper .tab3-container .tab3-table-row-fee span, .tab3-paper .tab3-container .tab3-paper-fee .tab3-table-row-fee span {
  color: #BC9631;
}
.tab3-paper .tab3-container ul, .tab3-paper .tab3-container .tab3-paper-fee ul, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee ul {
  display: inline-block;
  padding-left: 15px;
  color: #888888;
}
.tab3-paper .tab3-container ul div, .tab3-paper .tab3-container .tab3-paper-fee ul div, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee ul div {
  color: #FF3B30;
}
.tab3-paper .tab3-container ul span, .tab3-paper .tab3-container .tab3-paper-fee ul span, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee ul span {
  color: #933243;
  cursor: pointer;
}
.tab3-paper .tab3-container .popout-postage-detail, .tab3-paper .tab3-container .tab3-paper-fee .popout-postage-detail {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  background-color: #F2F2F2;
  border: 0.8px solid #6F6F6F;
  border-radius: 10px;
  z-index: 2;
  overflow-x: auto;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container .popout-postage-detail, .tab3-paper .tab3-container .tab3-paper-fee .popout-postage-detail {
    top: 55%;
    width: 90%;
    height: 65%;
  }
}
.tab3-paper .tab3-container .popout-postage-detail .popout-navbar {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: row;
  padding: 16px 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container .popout-postage-detail .popout-navbar {
    padding-left: 40px;
  }
}
.tab3-paper .tab3-container .popout-postage-detail .popout-navbar .navbar-text {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  color: #4B4B4B;
  justify-content: space-between;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-navbar .exit-btn {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-postage-content {
  font-size: 14px;
  color: #000000;
  padding: 30px 10%;
  overflow-x: auto;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-postage-content table {
  border: 0.5px solid #444444;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-postage-content table td {
  border: 0.5px solid #444444;
  width: 25px;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-postage-content table th {
  border: 0.5px solid #444444;
}
.tab3-paper .tab3-container .popout-postage-detail .popout-postage-content table .postage-area {
  width: 90px;
}
.tab3-paper .tab3-container .tab3-paper-container-letter-content, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-container-letter-content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-size: 16px;
  border: 2px solid #444444;
  border-radius: 16px;
  width: -webkit-fill-available;
}
.tab3-paper .tab3-container .tab3-paper-container-letter-content input[type=checkbox] {
  color: #933243;
}
.tab3-paper .tab3-container .tab3-paper-container-letter-content .lab3-letter-unavailable {
  color: #999999;
}
.tab3-paper .tab3-container .tab3-paper-container-letter-content .lab3-letter-unavailable input[type=checkbox]:checked {
  color: #999999;
}
.tab3-paper .tab3-container .tab3-form, .tab3-paper .tab3-container .tab3-paper-fee .tab3-form, .tab3-paper .tab3-container .tab3-form .tab3-input-addemail, .tab3-paper .tab3-container .tab3-form .tab3-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.tab3-paper .tab3-container .tab3-form .tab3-input {
  gap: 10px;
}
.tab3-paper .tab3-container .tab3-form .tab3-input .tab3-input-text {
  width: 100%;
  border: 2px solid #DDE1EB;
  border-radius: 16px;
  height: 56px;
  width: 100%;
}
.tab3-paper .tab3-container .tab3-form .tab3-input .invalid {
  border: 2px solid red;
}
.tab3-paper .tab3-container .tab3-form .tab3-input div {
  font-size: 16px;
}
.tab3-paper .tab3-container .tab3-form .tab3-input span {
  color: #999999;
}
.tab3-paper .tab3-container .tab3-form .tab3-input span span {
  color: #BC9631;
}
.tab3-paper .tab3-container .tab3-form .tab3-input a {
  color: #933243;
  text-decoration: none;
}
.tab3-paper .tab3-container .tab3-form .tab3-input select {
  width: 100%;
  height: 56px;
  border: 2px solid #DDE1EB;
  border-radius: 16px;
  padding-left: 10px;
  color: #888888;
}
.tab3-paper .tab3-container .tab3-form .tab3-input select option {
  color: #888888;
}
.tab3-paper .tab3-container .tab3-form .tab3-input-addemail {
  gap: 10px;
  display: none;
}
.tab3-paper .tab3-container .tab3-form .tab3-input-addemail .tab3-input-text {
  width: 100%;
  border: 2px solid #DDE1EB;
  border-radius: 16px;
  height: 56px;
  width: 100%;
}
.tab3-paper .tab3-container .tab3-form input[type=radio] {
  accent-color: #933243;
}
.tab3-paper .tab3-container .tab3-form input[type=checkbox] {
  accent-color: #933243;
}
.tab3-paper .tab3-container .tab3-form .tab1-input-submit-btn {
  display: flex;
  justify-content: center;
}
.tab3-paper .tab3-container .tab3-form .tab1-input-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #DCDCDC;
  border: none;
}
.tab3-paper .tab3-container .tab3-form .tab1-input-submit:hover { /*if (info-check == 1)*/
  background-color: #933243;
  color: #FFFFFF;
  border: none;
}
.tab3-paper .tab3-container .tab3-form input:valid {
  border: 2px solid #DDE1EB;
}
.tab3-paper .tab3-container .tab3-form input:invalid {
  border: 2px solid red;
}
.tab3-paper .tab3-container .tab3-form .popout-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description {
  width: 60%;
  height: 70%;
  display: none;
  background-color: #F2F2F2;
  border: 0.8px solid #6F6F6F;
  border-radius: 10px;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: auto;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container .tab3-form .popout-service-description {
    top: 55%;
    width: 90%;
    height: 65%;
  }
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-navbar {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: row;
  padding: 16px 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container .tab3-form .popout-service-description .popout-navbar {
    padding-left: 40px;
  }
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-navbar .navbar-text {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  color: #4B4B4B;
  justify-content: space-between;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-navbar .exit-btn {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-service-description-content {
  padding: 30px 10%;
  font-size: 14px;
  color: #000000;
  overflow-y: auto;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-service-description-content div {
  font-size: 14px;
  color: #FF3B30;
  display: inline;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-service-description-content ul {
  padding-left: 15px;
}
.tab3-paper .tab3-container .tab3-form .popout-service-description .popout-service-description-content ul li {
  padding-left: 15px;
}
.tab3-paper .tab3-container .tab3-new-email, .tab3-paper .tab3-container .tab3-paper-fee .tab3-new-email {
  text-align: center;
  width: 100%;
  color: #933243;
  font-size: 16px;
}
.tab3-paper .tab3-container .tab3-paper-fee, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee {
  width: 100%;
  text-align: right;
  display: inline-block;
}
.tab3-paper .tab3-container .tab3-paper-fee span, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee span {
  color: #BC9631;
}
.tab3-paper .tab3-container table, .tab3-paper .tab3-container .tab3-paper-fee table, .tab3-paper .tab3-container .tab3-paper-fee .tab3-paper-fee table {
  width: 100%;
  font-size: 16px;
}
.tab3-paper .tab3-container table .tab3-table-header, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-header {
  width: 60%;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container table .tab3-table-header, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-header {
    width: 100%;
  }
}
.tab3-paper .tab3-container table .tab3-table-header th, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-header th {
  padding: 12px 20px;
  color: #2D2D2D;
}
.tab3-paper .tab3-container table .tab3-table-row, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-row {
  width: 30%;
}
.tab3-paper .tab3-container table .tab3-table-row td, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-row td {
  padding: 12px 32px;
  border-top: 1px solid #DDE1EB;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-container table .tab3-table-row td, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-row td {
    padding: 12px 10px;
  }
}
.tab3-paper .tab3-container table .tab3-table-row td .tab3-input-amount {
  width: 100%;
  border: 2px solid #DDE1EB;
  border-radius: 16px;
  height: 56px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.tab3-paper .tab3-container table .tab3-table-row td p, .tab3-paper .tab3-container .tab3-paper-fee table .tab3-table-row td p {
  font-size: 12px;
  color: #666666;
}
.tab3-paper .tab3-container .tab-paper-fee, .tab3-paper .tab3-container .tab3-paper-fee .tab-paper-fee {
  text-align: right;
  font-size: 16px;
  width: -webkit-fill-available;
  padding: 12px 32px;
}
.tab3-paper .tab3-container .tab-paper-fee span, .tab3-paper .tab3-container .tab3-paper-fee .tab-paper-fee span {
  color: #BC9631;
}
.tab3-paper .tab3-input-submit-btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
  /*@include phone {
    width: 100%;
  }*/
}
.tab3-paper .tab3-input-submit-btn .tab3-input-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  width: 400px;
  background-color: #DCDCDC;
  border: none;
}
@media (max-width: 768px) {
  .tab3-paper .tab3-input-submit-btn .tab3-input-submit {
    width: 100%;
  }
}
.tab3-paper .tab3-input-submit-btn .tab3-input-submit:hover { /*if (info-check == 1)*/
  background-color: #933243;
  color: #FFFFFF;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tab4 {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.tab4 .tab4-container {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 32px;
  border: 2px solid #DDE1EB;
  gap: 24px;
}
.tab4 .tab4-container .tab4-container-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}
.tab4 .tab4-container .tab4-container-fee {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.tab4 .tab4-container .tab4-container-fee p {
  width: 50px;
  text-align: center;
  color: #BC9631;
}
.tab4 .tab4-container .tab4-container-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tab4 .tab4-container .tab4-container-content .expand {
  border: none;
  background-color: white;
}
.tab4 .tab4-container .tab4-container-content .expand-active {
  transform: rotate(180deg);
}
.tab4 .tab4-container .tab4-container-content .hidden {
  display: flex !important;
}
.tab4 .tab4-container .tab4-container-content .detail1 {
  display: none;
  padding: 8px 8px 8px 30px;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  color: #666666;
}
.tab4 .tab4-container .tab4-container-content .detail1 li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab4 .tab4-container .tab4-container-content .detail2 {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.tab4 .tab4-container .tab4-container-content .detail3 {
  display: none;
  flex-direction: column;
}
.tab4 .tab4-container .tab4-container-content .e-detail1 {
  display: none;
  padding: 8px 8px 8px 30px;
  color: #666666;
  flex-direction: column;
  gap: 8px;
}
.tab4 .tab4-container .tab4-container-content .e-detail1 li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab4 .tab4-container .tab4-container-content .e-detail2 {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.tab4 .tab4-container .tab4-container-content .tab4-container-content-title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.tab4 .tab4-container .tab4-container-content .tab4-container-content-title span {
  color: #BC9631;
}
.tab4 .tab4-container .tab4-container-content .tab4-letter-container {
  border-radius: 16px;
  background-color: #EDEDED;
  color: #666666;
  gap: 8px;
  padding: 8px 8px 8px 30px;
}
.tab4 .tab4-container .tab4-container-content ul {
  list-style-type: none;
}
.tab4 .tab4-container .tab4-container-content ul li {
  margin: 8px 0;
}
.tab4 .tab4-container .tab4-container-content ul p {
  color: #666666;
}
.tab4 .tab4-submit-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media (max-width: 768px) {
  .tab4 .tab4-submit-btns {
    width: 100%;
  }
}
.tab4 .tab4-submit-btns .tab4-submit-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tab4 .tab4-submit-btns .tab4-submit-btn1 {
    width: 100%;
  }
}
.tab4 .tab4-submit-btns .tab4-submit-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #EEDFE1;
  color: #933243;
}
@media (max-width: 768px) {
  .tab4 .tab4-submit-btns .tab4-submit-btn2 {
    width: 100%;
  }
}
.tab4 .tab4-submit-btns .tab4-submit-btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: white;
  color: #933243;
}
@media (max-width: 768px) {
  .tab4 .tab4-submit-btns .tab4-submit-btn3 {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tab5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  text-align: center;
}
.tab5 .tab5-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 24px 32px;
  border-radius: 32px;
  border: 2px solid #DDE1EB;
  gap: 24px;
}
@media (max-width: 768px) {
  .tab5 .tab5-container {
    padding: 24px 10px;
  }
}
.tab5 .tab5-container .tab5-container-title-box {
  gap: 4px;
}
.tab5 .tab5-container .tab5-container-title-box .tab5-container-title {
  font-size: 25px;
}
.tab5 .tab5-container .tab5-container-title-box .tab5-container-title-date {
  font-size: 14px;
  color: #AAAAAA;
}
.tab5 .tab5-container .tab5-container-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .tab5 .tab5-container .tab5-container-detail {
    gap: 8px;
  }
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-payment {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 24px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-payment div {
  display: inline-block;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-payment div .tab5-container-detail-payment-date {
  color: #FF3B30;
  padding-left: 5px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-notice {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 24px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-notice div {
  display: inline-block;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-notice div .tab5-container-detail-notice-date {
  color: #FF3B30;
  padding-left: 5px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-number {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  font-size: 14px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-number span {
  color: #933243;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-number a {
  color: #933243;
  text-decoration: none;
  cursor: pointer;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-number .apply-detail-popout {
  cursor: pointer;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout {
  display: none;
  flex-direction: column;
  gap: 16px;
  background-color: #EDEDED;
  border-radius: 16px;
  padding: 12px 32px 12px 32px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 24px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item ul {
  list-style-type: none;
  gap: 4px;
  color: #666666;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item ol {
  gap: 4px;
  padding-bottom: 4px;
  list-style-position: inside;
  color: #666666;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item .tab5-container-detail-letter-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item .tab5-container-detail-letter-container .tab5-container-detail-letter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item .tab5-container-detail-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item .tab5-container-detail-data li {
  color: #333333;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-item .tab5-container-detail-data li p {
  color: #666666;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-btn-container {
  display: flex;
  justify-content: center;
}
.tab5 .tab5-container .tab5-container-detail .tab5-container-detail-popout .tab5-container-detail-btn-container .tab5-container-detail-exit-btn {
  display: flex;
  cursor: pointer;
  border-radius: 40px;
  width: 82px;
  height: 28px;
  justify-content: center;
  align-items: center;
  background-color: #666666;
  color: #FFFFFF;
}
.tab5 .tab5-container .tab5-notice-content {
  text-align: left;
  font-size: 14px;
  color: #333333;
  padding: 0 40px;
}
.tab5 .tab5-container .tab5-notice-content span {
  color: #FF3B30;
}
.tab5 .tab5-submit-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media (max-width: 768px) {
  .tab5 .tab5-submit-btns {
    width: 100%;
  }
}
.tab5 .tab5-submit-btns .tab5-submit-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .tab5 .tab5-submit-btns .tab5-submit-btn1 {
    width: 100%;
  }
}
.tab5 .tab5-submit-btns .tab5-submit-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #EEDFE1;
  color: #933243;
}
@media (max-width: 768px) {
  .tab5 .tab5-submit-btns .tab5-submit-btn2 {
    width: 100%;
  }
}
.tab5 .tab5-submit-btns .tab5-submit-btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #933243;
  color: #FFFFFF;
  width: 400px;
  height: 58px;
  border-radius: 16px;
  cursor: pointer;
  background-color: white;
  color: #933243;
}
@media (max-width: 768px) {
  .tab5 .tab5-submit-btns .tab5-submit-btn3 {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 16px 144px 24px 144px;
  gap: 40px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 20px 24px 20px;
    gap: 32px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  footer {
    flex-direction: column;
    padding: 16px 70px 24px 70px;
  }
}
footer .footer-title {
  gap: 8px;
  font-size: 20px;
  color: #4B4B4B;
}
footer .footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .footer-contact-container .footer-contact-cards {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-contact-cards {
    flex-direction: column;
    gap: 24px;
  }
}
footer .footer-contact-container .footer-contact-cards .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-contact-container .footer-contact-cards .footer-contact a {
  text-decoration: none;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-group {
  color: #933243;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info p {
  color: black;
}
footer .footer-contact-container .footer-contact-cards .footer-contact .footer-contact-info a {
  color: #933243;
}
footer .footer-contact-container .footer-help {
  display: flex;
  flex-direction: column;
}
footer .footer-contact-container .footer-help .footer-info {
  display: inline-flex;
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info div {
  color: #933243;
}
footer .footer-contact-container .footer-help .footer-info-popout {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 16px;
  gap: 32px;
  z-index: 2;
}
@media (max-width: 768px) {
  footer .footer-contact-container .footer-help .footer-info-popout {
    width: 80%;
  }
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #2D2D2D;
  Padding: 16px 54px;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-title .footer-info-exit-btn {
  cursor: pointer;
}
footer .footer-contact-container .footer-help .footer-info-popout .footer-info-popout-content {
  font-size: 16px;
  color: #6F6F6F;
  background-color: #F8F8F8;
  padding: 40px 56px;
  overflow: hidden;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  color: #4B4B4B;
}
@media (max-width: 768px) {
  footer .footer-copyright {
    text-align: center;
  }
}

.main-apply {
  padding: 140px 100px 120px;
  gap: 72px;
  align-items: center;
}
@media (max-width: 768px) {
  .main-apply {
    padding: 140px 0 120px;
  }
}
.main-apply .main-fix {
  gap: 32px;
  width: 100%;
}
.main-apply .main-fix .main-tab-bar {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.main-apply .main-fix .main-tab-bar .tab {
  padding: 10px 20px;
  border: 0.8px solid #DDE1EB;
  width: 140px;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 768px) {
  .main-apply .main-fix .main-tab-bar .tab {
    font-size: 12px;
  }
}
.main-apply .main-fix .main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-apply .main-fix .main-title .main-return-btn {
  cursor: pointer;
  transform: rotate(-180deg);
  font-size: 20px;
  position: absolute;
  left: 0;
}
.main-apply .main-fix .main-title .main-title-text {
  color: #933243;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-apply .tab-content {
  display: none;
  width: 50%;
}
@media (max-width: 768px) {
  .main-apply .tab-content {
    width: 90%;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  .main-apply .tab-content {
    width: 70%;
  }
}

.popout-close-window {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #FFFFFF;
  width: 384px;
  border-radius: 16px;
  padding: 24px;
  gap: 32px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .popout-close-window {
    width: 80%;
  }
}
.popout-close-window .popout-close-window-title {
  font-size: 18px;
  color: #2D2D2D;
  padding-bottom: 8px;
}
.popout-close-window .popout-aclose-window-content {
  font-size: 16px;
  color: #6F6F6F;
  padding-bottom: 32px;
}
.popout-close-window .popout-close-window-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}
.popout-close-window .popout-close-window-btn .popout-close-window-btn-cancel, .popout-close-window .popout-close-window-btn .popout-close-window-btn-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 36px;
  background-color: white;
  border: 2px solid #AFAFAF;
  border-radius: 16px;
  cursor: pointer;
}
.popout-close-window .popout-close-window-btn .popout-close-window-btn-confirm {
  width: 104px;
  background-color: #933243;
  color: white;
  border: 2px solid #933243;
}

/*# sourceMappingURL=_apply.css.map */
